 <footer>

    <p>
        <p><strong>Shy Guinea Pig Blind Books</strong></p>
        <p><em>Every Package Holds a New Adventure.</em></p>
        <p>&copy; 2026 Shy Guinea Pig Blind Books. All rights reserved.</p>
        Designed &amp Developed by <a href="../../index.html" target="_blank" >Sami Ghimire Desgins </a>|
        <a href="https://www.freecodecamp.org/certification/sghimire/responsive-web-design-v9" 
           target="_blank">
            Certified in Responsive Web Design
        </a>
    </p>

</footer>