<footer>

<p>Sami Ghimire &copy; 2026</p>

<nav>
<a href="https://webpages.charlotte.edu/sghimire/">CLT Web</a> |
<a href="https://github.com/samig429">GitHub</a> |
<a href="https://www.freecodecamp.org/sghimire">freeCodeCamp</a> |
<a href="https://www.linkedin.com/in/samikshya-ghimire-a300291b6/">LinkedIn</a>
</nav>

<p>
        Designed by Sami Ghimire |
        <a href="YOUR_CERTIFICATE_LINK" target="_blank" rel="noopener">
            Certified in Responsive Web Design
        </a>
    </p>

</footer>
