<header>
    <h1>Sami Ghimire</h1>
    <p>Computer Science Student at UNC Charlotte</p>

    <img src="images/FullLogo.jpg" alt="My Logo">

    <nav>
        <a href="index.html">Sami Ghimire Website</a> |
        <a href="../index.html">Main Website</a> |
        <a href="../shyblindbooks/index.html">Shy Guinea Pig Blind Books</a> |
        <a href="../contract.html">Contract</a> |
        <a href="../introduction_form.html">Introduction Form</a> |
        <a href="../website_evaluations.html">Website Evaluations</a>
    </nav>

    <p><em>Whatever you are, be a good one. — Abraham Lincoln</em></p>

</header>