<header>
<h1>Sami Ghimire's Shy Guinea Pig | ITIS3135</h1>
<p>Computer Science Student at UNC Charlotte</p>

    <nav>
        <a href="index.html">Home</a> |
        <a href="introduction.html">Introduction</a> |
        <a href="contract.html">Contract</a> |
        <a href="about.html">About</a> |
        <a href="instructions.html">Instructions</a> |
        <a href="highlight.html">Highlight</a> |
        <a href="website_evaluations.html">Website Evaluations</a> |
        <a href="pictures.html">Pictures</a> |
        <a href="introduction_form.html">Introduction Form</a> |
        <a href="/itis3135/stuff/BaD%20PaGe%F0%9F%A4%A1.HTM">CRAPpy Webpage</a>
    </nav>
    
    <nav>
        <a href="survey.html">Survey</a> |
        <a href="cards.html">Cards</a> |
        <a href="inventory.html">Inventory</a> |
        <a href="documentation.html">Documentation</a> |
        <a href="product.html">Product</a>
    </nav>

    <nav>
        <a href="shyblindbooks/index.html">Shy Guinea Pig Blind Books</a>
    </nav>

    <p><em>"Whatever you are, be a good one."</em> — Abraham Lincoln</p>

</header>
